<div>
  <h1>Gestion de Productos</h1>

  @if (menssage(); as msg) {
    <div id="mensaje">
      {{ msg.texto }}
    </div>
  }

  <form>
    <h2>{{ modEdit() ? 'Editar Producto' : 'Nuevo Producto' }}</h2>

    <div>
      <label for="name">Nombre:</label>
      <input
        id="name"
        name="name"
        type="text"
        [(ngModel)]="formulario().name"
        (ngModelChange)="actualizarCampo('name', $event)"
        placeholder="Eje: Mochila"
        required
      />
    </div>

    <div>
      <label for="precio">Precio:</label>
      <input
        id="price"
        name="price"
        type="number"
        [(ngModel)]="formulario().price"
        (ngModelChange)="actualizarCampo('price', +$event)"
        placeholder="Eje: $500"
        required
      />
    </div>

    <div>
      <label for="cantidad">Cantidad:</label>
      <input
        id="quantity"
        name="quantity"
        type="number"
        [(ngModel)]="formulario().quantity"
        (ngModelChange)="actualizarCampo('quantity', +$event)"
        placeholder="Eje: 10"
        required
      />
    </div>

    <button type="button" (click)="save()">
      {{ titleBtnSave() }}
    </button>

    <button type="button" (click)="limpiar()">Cancelar</button>

    @if (modEdit()) {
      <button type="button" (click)="limpiar()">Cancelar edicion</button>
    }
  </form>

  <!-- Tabla de productos -->
  <h2>Productos Registrados</h2>
  <!--@if (products.length === 0) {

    <p>No hay productos aun.</p>
  }-->

  @if (!loading() && products().length === 0) {
    <p>No ay productos</p>
  }

  @if (products().length > 0) {
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (p of products(); track p.id) {
            <tr>
              <td data-label="ID">{{ p.id }}</td>
              <td data-label="Nombre">{{ p.name }}</td>
              <td data-label="Precio">${{ p.price }}</td>
              <td data-label="Cantidad">{{ p.quantity }} unidades</td>
              <td data-label="Acciones">
                <div class="action-buttons">
                  <button type="button" (click)="edit(p)">Editar</button>
                  <button type="button" (click)="delete(p)">Eliminar</button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
