<div>
  <h1>Gestion de Productos</h1>

  @if (mensaje) {
    <div>
      {{ mensaje }}
    </div>
  }

  <form>
    <h2>{{ editId ? 'Editar Producto' : 'Nuevo Producto' }}</h2>

    <div>
      <label for="nombre">Nombre</label>
      <input
        id="nombre"
        type="text"
        [(ngModel)]="formulario.name"
        placeholder="Eje: Mochila"
        required
      />
    </div>

    <div>
      <label for="precio">Precio</label>
      <input
        id="precio"
        type="number"
        [(ngModel)]="formulario.price"
        placeholder="Eje: $500"
        required
      />
    </div>

    <div>
      <label for="cantidad">Cantidad</label>
      <input
        id="cantidad"
        type="number"
        [(ngModel)]="formulario.quantity"
        placeholder="Eje: 10"
        required
      />
    </div>

    <button (click)="save()" type="button">
      {{ editId ? ' Actualizar ' : ' Crear Producto ' }}
    </button>

    <button (click)="cleanForm()" type="button">Cancelar</button>

    <!-- Tabla de productos -->
    <h2>Productos Registrados</h2>

    @if (products.length === 0) {
      <p>No hay productos aun.</p>
    }

    @if (products.length > 0) {
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (p of products; track p.id; let i = $index) {
            <tr [style.background]="i % 2 === 0 ? 'white' : '#f8f9fa'">
              <td>{{ p.id }}</td>
              <td>{{ p.name }}</td>
              <td>{{ p.price }}</td>
              <td>{{ p.quantity }} unidades</td>

              <button (click)="edit(p)">Editar</button>
              <button (click)="delete(p.id!)">Eliminar</button>
            </tr>
          }
        </tbody>
      </table>
    }
  </form>
</div>
